# HW

Мои Фамилия Имя: Сидорова Анна

In [2]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [159]:
df_titanic = pd.read_csv('titanic.csv')

In [160]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [161]:
df_titanic.shape

(891, 12)

In [9]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [6]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [162]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [163]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[500:]
#simple_test

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [164]:
simple_train = simple_train.fillna(simple_train.Age.mean())
simple_test = simple_test.fillna(simple_test.Age.mean())

# можно inplace делать такое, а можно переприсваивать.

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

In [165]:
simple_train.columns = ['is_man', 'Age', 'Pclass', 'Survived']
simple_test.columns = ['is_man', 'Age', 'Pclass', 'Survived']

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [166]:
lmbdsx = lambda x: 0 if x == 'male' else 1
simple_train.is_man = simple_train.is_man.apply(lmbdsx)
simple_test.is_man = simple_test.is_man.apply(lmbdsx)
simple_train

     is_man        Age  Pclass  Survived
0         0  22.000000       3         0
1         1  38.000000       1         1
2         1  26.000000       3         1
3         1  35.000000       1         1
4         0  35.000000       3         0
5         0  29.174185       3         0
6         0  54.000000       1         0
7         0   2.000000       3         0
8         1  27.000000       3         1
9         1  14.000000       2         1
10        1   4.000000       3         1
11        1  58.000000       1         1
12        0  20.000000       3         0
13        0  39.000000       3         0
14        1  14.000000       3         0
15        1  55.000000       2         1
16        0   2.000000       3         0
17        0  29.174185       2         1
18        1  31.000000       3         0
19        1  29.174185       3         1
20        0  35.000000       2         0
21        0  34.000000       2         1
22        1  15.000000       3         1
23        0  28.000000       1         1
24        1   8.000000       3         0
25        1  38.000000       3         1
26        0  29.174185       3         0
27        0  19.000000       1         0
28        1  29.174185       3         1
29        0  29.174185       3         0
..      ...        ...     ...       ...
471       0  38.000000       3         0
472       1  33.000000       2         1
473       1  23.000000       2         1
474       1  22.000000       3         0
475       0  29.174185       1         0
476       0  34.000000       2         0
477       0  29.000000       3         0
478       0  22.000000       3         0
479       1   2.000000       3         1
480       0   9.000000       3         0
481       0  29.174185       2         0
482       0  50.000000       3         0
483       1  63.000000       3         1
484       0  25.000000       1         1
485       1  29.174185       3         0
486       1  35.000000       1         1
487       0  58.000000       1         0
488       0  30.000000       3         0
489       0   9.000000       3         1
490       0  29.174185       3         0
491       0  21.000000       3         0
492       0  55.000000       1         0
493       0  71.000000       1         0
494       0  21.000000       3         0
495       0  29.174185       3         0
496       1  54.000000       1         1
497       0  29.174185       3         0
498       1  25.000000       1         0
499       0  24.000000       3         0
500       0  17.000000       3         0

[501 rows x 4 columns]

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [167]:
#simple_train = simple_train.fillna(0)
#simple_test = simple_test.fillna(0)
X_train = simple_train.drop(columns=['Survived']).values
X_test = simple_test.drop(columns=['Survived']).values
y_train = simple_train.Survived.values
y_test = simple_test.Survived.values
y_test

array([0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [168]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [14]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [15]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [16]:
class KNN:
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2 #подается именно матрица
        print(len(self.X.shape))
        print(len(self.y.shape))
        #расстояние до всех в трен.выборке:
        for (h, w, u) in X:
            d=np.sqrt((h-self.X[:,0])**2+(w-self.X[:,1])**2+(u-self.X[:,2])**2)
            #индексы близжайших соседей
            idx = np.argsort(d)[:self.n]
            counts=np.bincount(self.y[idx])
            prediction = np.argmax(counts)
            y_hat.append(prediction)
        return np.array(y_hat)

In [230]:
knn = KNN(5)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

2
1

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [18]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.7851662404092071

In [ ]:
np.unique(y_pred)

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [ ]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!

In [174]:
df_titanic = pd.read_csv('titanic.csv')

In [175]:
columns = ['Sex', 'Age', 'Pclass', 'Survived', 'Cabin', 'Fare', 'Embarked']

In [176]:
tit=df_titanic[columns]
tit

        Sex   Age  Pclass  Survived        Cabin      Fare Embarked
0      male  22.0       3         0          NaN    7.2500        S
1    female  38.0       1         1          C85   71.2833        C
2    female  26.0       3         1          NaN    7.9250        S
3    female  35.0       1         1         C123   53.1000        S
4      male  35.0       3         0          NaN    8.0500        S
5      male   NaN       3         0          NaN    8.4583        Q
6      male  54.0       1         0          E46   51.8625        S
7      male   2.0       3         0          NaN   21.0750        S
8    female  27.0       3         1          NaN   11.1333        S
9    female  14.0       2         1          NaN   30.0708        C
10   female   4.0       3         1           G6   16.7000        S
11   female  58.0       1         1         C103   26.5500        S
12     male  20.0       3         0          NaN    8.0500        S
13     male  39.0       3         0          NaN   31.2750        S
14   female  14.0       3         0          NaN    7.8542        S
15   female  55.0       2         1          NaN   16.0000        S
16     male   2.0       3         0          NaN   29.1250        Q
17     male   NaN       2         1          NaN   13.0000        S
18   female  31.0       3         0          NaN   18.0000        S
19   female   NaN       3         1          NaN    7.2250        C
20     male  35.0       2         0          NaN   26.0000        S
21     male  34.0       2         1          D56   13.0000        S
22   female  15.0       3         1          NaN    8.0292        Q
23     male  28.0       1         1           A6   35.5000        S
24   female   8.0       3         0          NaN   21.0750        S
25   female  38.0       3         1          NaN   31.3875        S
26     male   NaN       3         0          NaN    7.2250        C
27     male  19.0       1         0  C23 C25 C27  263.0000        S
28   female   NaN       3         1          NaN    7.8792        Q
29     male   NaN       3         0          NaN    7.8958        S
..      ...   ...     ...       ...          ...       ...      ...
861    male  21.0       2         0          NaN   11.5000        S
862  female  48.0       1         1          D17   25.9292        S
863  female   NaN       3         0          NaN   69.5500        S
864    male  24.0       2         0          NaN   13.0000        S
865  female  42.0       2         1          NaN   13.0000        S
866  female  27.0       2         1          NaN   13.8583        C
867    male  31.0       1         0          A24   50.4958        S
868    male   NaN       3         0          NaN    9.5000        S
869    male   4.0       3         1          NaN   11.1333        S
870    male  26.0       3         0          NaN    7.8958        S
871  female  47.0       1         1          D35   52.5542        S
872    male  33.0       1         0  B51 B53 B55    5.0000        S
873    male  47.0       3         0          NaN    9.0000        S
874  female  28.0       2         1          NaN   24.0000        C
875  female  15.0       3         1          NaN    7.2250        C
876    male  20.0       3         0          NaN    9.8458        S
877    male  19.0       3         0          NaN    7.8958        S
878    male   NaN       3         0          NaN    7.8958        S
879  female  56.0       1         1          C50   83.1583        C
880  female  25.0       2         1          NaN   26.0000        S
881    male  33.0       3         0          NaN    7.8958        S
882  female  22.0       3         0          NaN   10.5167        S
883    male  28.0       2         0          NaN   10.5000        S
884    male  25.0       3         0          NaN    7.0500        S
885  female  39.0       3         0          NaN   29.1250        Q
886    male  27.0       2         0          NaN   13.0000        S
887  female  19.0       1         1          B42   30.0000        S
888  female   NaN       3         0          NaN   23.4500        S
889    male  26.0       1         1         C148   30.0000        C
890    male  32.0       3         0          NaN    7.7500        Q

[891 rows x 7 columns]

In [15]:
Заполнение пропусков:

In [178]:
fill = {'Age': tit.Age.mean(), 'Cabin': 'unknown', 'Embarked': 'unknown'}
tit = tit.fillna(value=fill)

In [179]:
tit = pd.get_dummies(tit, columns=['Pclass', 'Embarked', 'Cabin']) #One hot

In [180]:
lmbdsx = lambda x: 0 if x == 'male' else 1
tit.Sex = tit.Sex.apply(lmbdsx)

In [275]:
tit

,Sex,Age,Survived,Fare,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S,...,Cabin_F E69,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T,Cabin_unknown
0,0,22.000000,0,7.2500,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
1,1,38.000000,1,71.2833,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,26.000000,1,7.9250,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,1,35.000000,1,53.1000,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,35.000000,0,8.0500,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
5,0,29.699118,0,8.4583,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
6,0,54.000000,0,51.8625,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,2.000000,0,21.0750,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
8,1,27.000000,1,11.1333,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
9,1,14.000000,1,30.0708,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
10,1,4.000000,1,16.7000,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11,1,58.000000,1,26.5500,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,20.000000,0,8.0500,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
13,0,39.000000,0,31.2750,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
14,1,14.000000,0,7.8542,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
15,1,55.000000,1,16.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
16,0,2.000000,0,29.1250,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
17,0,29.699118,1,13.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
18,1,31.000000,0,18.0000,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
19,1,29.699118,1,7.2250,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
20,0,35.000000,0,26.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
21,0,34.000000,1,13.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,1,15.000000,1,8.0292,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
23,0,28.000000,1,35.5000,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,1,8.000000,0,21.0750,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
25,1,38.000000,1,31.3875,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
26,0,29.699118,0,7.2250,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
27,0,19.000000,0,263.0000,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,1,29.699118,1,7.8792,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
29,0,29.699118,0,7.8958,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,0,21.000000,0,11.5000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
862,1,48.000000,1,25.9292,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
863,1,29.699118,0,69.5500,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
864,0,24.000000,0,13.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
865,1,42.000000,1,13.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
866,1,27.000000,1,13.8583,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
867,0,31.000000,0,50.4958,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
868,0,29.699118,0,9.5000,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
869,0,4.000000,1,11.1333,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
870,0,26.000000,0,7.8958,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
871,1,47.000000,1,52.5542,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
872,0,33.000000,0,5.0000,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
873,0,47.000000,0,9.0000,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
874,1,28.000000,1,24.0000,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
875,1,15.000000,1,7.2250,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
876,0,20.000000,0,9.8458,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
877,0,19.000000,0,7.8958,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
878,0,29.699118,0,7.8958,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
879,1,56.000000,1,83.1583,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
880,1,25.000000,1,26.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
881,0,33.000000,0,7.8958,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
882,1,22.000000,0,10.5167,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
883,0,28.000000,0,10.5000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
884,0,25.000000,0,7.0500,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
885,1,39.000000,0,29.1250,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1
886,0,27.000000,0,13.0000,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
887,1,19.000000,1,30.0000,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
888,1,29.699118,0,23.4500,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,1
889,0,26.000000,1,30.0000,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
890,0,32.000000,0,7.7500,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [255]:
train = tit.loc[:500]
test = tit.loc[500:]

In [256]:
Xtrain = train.drop(columns=['Survived']).values
Xtest = test.drop(columns=['Survived']).values
ytrain = train.Survived.values
ytest = test.Survived.values
Xtrain[1]

array([ 1.    , 38.    , 71.2833,  1.    ,  0.    ,  0.    ,  1.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        1.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.    ,  0.    ])

In [265]:
# стандартизуем
#mean_ = Xtrain.mean(axis=0)
#std_ = Xtrain.std(axis=0)
#print(std_)
#Xtrain = (Xtrain - mean_) / std_
#Xtest = (Xtest - mean_) / std_
# отшкалируем
#max_ = Xtrain.max(axis=0)
#min_ = Xtrain.min(axis=0)
#Xtrain = (Xtrain - min_) / (max_ - min_)
#Xtest = (Xtest - min_) / (max_ - min_)
Не все хорошо с этой стандартизацией, решила использовать sklearn

In [280]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
sc = StandardScaler()
mm = MinMaxScaler()
sc.fit(Xtrain[:,[1,2]])
mm.fit(Xtrain[:,[1,2]])
Xtrain[:,[1,2]] = sc.transform(Xtrain[:,[1,2]])#0 и 1 нет смысла стандартизировать,
Xtest[:,[1,2]] = sc.transform(Xtest[:,[1,2]])#поэтому только Age и Fare
Xtrain[:,[1,2]] = mm.transform(Xtrain[:,[1,2]])
Xtest[:,[1,2]] = mm.transform(Xtest[:,[1,2]])

In [274]:
assert isinstance(Xtrain, np.ndarray)
assert isinstance(Xtest, np.ndarray)
assert isinstance(ytrain, np.ndarray)
assert isinstance(ytest, np.ndarray)
assert Xtrain.shape[0] == ytrain.shape[0]
assert Xtest.shape[0] == ytest.shape[0]
assert not np.any(np.isnan(Xtrain)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(Xtest)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

In [307]:
class KNN2:

    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2 #подается именно матрица
        #print(len(self.X.shape))
        #print(len(self.y.shape))
        #расстояние до всех в трен.выборке:
        for h in X:#векторы содержат уже не 3 компоненты, а больше
            d = 0
            for i in range(len(h)):
                d += (h[i] - self.X[:,i])**2
            d = np.sqrt(d)
            #индексы близжайших соседей
            idx = np.argsort(d)[:self.n]
            counts=np.bincount(self.y[idx])
            prediction = np.argmax(counts)
            y_hat.append(prediction)
        return np.array(y_hat)

In [276]:
Xtrain.shape

(501, 158)

In [291]:
newknn = KNN2(5)

newknn.fit(Xtrain, ytrain)
ypred = newknn.predict(Xtest)

2
1

In [292]:
acc = np.mean(ypred == ytest)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.7979539641943734

In [310]:
gippar=[]
bestres=0
bestpar=0
for i in range(1,30):
    gippar.append(i)
#gippar
for i in gippar:
    newknn=KNN2(i)
    newknn.fit(Xtrain, ytrain)
    ypred = newknn.predict(Xtest)
    acc = np.mean(ypred == ytest)
    #print('доля правильных ответов:', acc)
    if acc>=bestres:
        bestpar=i
        bestres=acc
print('Лучший гиперпараметр:', bestpar, ", а доля праивльных ответов при этом ", bestres)

Лучший гиперпараметр: 2 , а доля праивльных ответов при этом  0.8081841432225064